.navbar-bg {
    background-color: #2b3e50 !important;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
/* padding  değerleri örnek siteden devtools üzerinden kopyalanmıştır. */
.hero-section {
    background-color: #1abc9c;
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;
}
.about {
    background-color: #1abc9c;
}
.btn-xl {
    padding: 1rem 1.75rem !important;
    font-size: 1.25rem !important;
}
.footer {
    background-color: #2b3e50 !important;
}
a.footer-link {
    color: #1abc9c !important;
}
a.footer-link:hover {
    color: #55efd0 !important;
}
a.nav-link:hover {
    color: #1abc9c !important;
}